{% extends 'base.html' %}

{% block body %}
<div class="d-flex flex-column col-sm-8">

    <h1 class="mb-3"><i class="fa-solid fa-chart-pie mx-3"></i> Cadastro de Setor</h1>

    <div class="shadow p-4 mb-5 bg-body rounded">

        <form action="{% url 'cadastro_setor' %}" method="POST" class="form-floating">{% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                    {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row mb-5">
                <label class="col-sm-2 col-form-label col-form-label-lg" for="descricao">Descrição</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" id="descricao" name="descricao" title="descricao" requred>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 d-grid">
                    <button type="submit" class="btn btn-lg btn-primary" title="Entrar">
                        <i class="fa-solid fa-floppy-disk"></i> Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}