{% extends 'base.html' %}



{% block body %}
<div class="d-flex flex-column col-sm-8">

    <h1 class="mb-3"><i class="fa-solid fa-id-badge mx-3"></i> Cadastro de Funcionário</h1>

    <div class="shadow p-4 mb-5 bg-body rounded">

        <form action="{% url 'cadastro_funcionario' %}" method="POST" class="form-floating">{% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                    {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row mb-4">
                <label class="col-sm-2 col-form-label col-form-label-lg" for="nome">Nome</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" id="nome" name="nome" title="Nome" requred>
                </div>
            </div>

            <div class="row mb-5">
                <label class="col-sm-2 col-form-label col-form-label-lg" for="sobrenome">Sobrenome</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" id="sobrenome" name="sobrenome" title="Sobrenome" requred>
                </div>
            </div>

            <div class="row mb-5">
                <label class="col-sm-2 col-form-label col-form-label-lg" for="setor">Setor</label>
                <div class="col-sm-10">
                    <select class="form-select form-select-lg" aria-label="Setor" name="setor" required>
                        <option selected disabled>Selecione uma opção</option>
                        {% for setor in setores %}
                        <option value="{{ setor.id }}">{{ setor.descricao }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row mb-5">
                <label class="col-sm-2 col-form-label col-form-label-lg" for="ativo">Ativo</label>
                <div class="col-sm-10 form-check form-switch fs-4">
                    <div class="ps-3 pt-1">
                        <input class="form-check-input" type="checkbox" role="switch" name="ativo" value="True" checked>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-outline-danger" href="{% url 'funcionarios' %}" role="button" title="Voltar"><i class="fa-solid fa-circle-left"></i> Voltar</a>
                            <button type="reset" class="btn btn-outline-warning" title="Desfazer">
                                <i class="fa-solid fa-arrow-rotate-left"></i> Desfazer</button>
                        </div>
                        <div class="col-sm-auto">
                            <button type="submit" class="btn btn-lg btn-primary" title="Cadastrar">
                                <i class="fa-solid fa-floppy-disk"></i> Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

{% endblock body %}