{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column col-sm-8">

    <h1 class="mb-3"><i class="fa-solid fa-circle-user mx-3"></i> Alteração de Senha</h1>

    <div class="container-md shadow p-4 mb-5 bg-body rounded">

        <form action="{% url 'altera_senha' user.id %}" method="POST">{% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                    {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row mb-4">
                <label class="col-sm-2 col-form-label col-form-label-lg" for="usuario">Usuário</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" id="usuario" name="usuario" title="Usuário" value="{{ user.username}}" disabled readonly >
                </div>
            </div>
            <div class="row mb-5">
                <label class="col-sm-2 col-form-label col-form-label-lg" for="senha">Senha Atual</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control form-control-lg" id="senha_atual" name="senha_atual" title="Senha Atual" required>

                </div>
            </div>

            <div class="row mb-4">
                <label class="col-sm-2 col-form-label col-form-label-lg" for="senha">Senha</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control form-control-lg" id="senha" name="senha" title="Senha" requred>
                    <div id="senha_ajuda" class="mx-2 form-text">
                        Sua senha deve ter pelo menos 6 caracteres, contando com números e letras.
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <label class="col-sm-2 col-form-label col-form-label-lg" for="senha">Confirme a Senha</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control form-control-lg" id="confirma_senha" name="confirma_senha" title="Confirme a Senha" requred>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 d-grid">
                    <button type="submit" class="btn btn-lg btn-primary" title="Alterar">
                        <i class="fa-solid fa-circle-check"></i> Alterar</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}