{% extends 'base.html' %}
{% block navbar %}
{% endblock navbar %}

{% block sidebar %}
{% endblock sidebar %}


{% block content %}
<div class="d-flex align-self-center shadow p-4 mb-5 bg-white rounded">
    <form action="{% url 'login' %}" method="POST" class="form-floating">{% csrf_token %}
        <h1 class="mb-3 text-center">Login</h1>
        <hr/ class="my-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{message.tags}}">
                {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <div class="mb-3">
            <label class="form-label" for="usuario">Usuário</label>
            <input type="text" class="form-control form-control-lg" id="usuario" name="usuario" data-bs-toggle="tooltip" title="Usuário">
        </div>
        <div class="mb-4">
            <label class="form-label" for="senha">Senha</label>
            <input type="password" class="form-control form-control-lg" id="senha" name="senha" title="Senha">
        </div>
        <div class="d-grid gap-2">
        <button type="submit" class="btn btn-lg btn-primary" title="Entrar">
            <i class="fa-solid fa-right-to-bracket"></i> Entrar</button>
        </div>
    </form>
</div>
{% endblock content %}