<!DOCTYPE html>
<html lang="pt-BR">

{% load static %}

<head>
    {% block head %}{% endblock head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="d-flex flex-column bg-light min-vh-100 min-vw-100">
        {% block top %}
        {% endblock top %}
        <div class="d-flex flex-row flex-grow-1 bg-light gap-4">
                {% block nav %}
                {% endblock nav %}
            <div class="d-flex flex-sm-wrap flex-grow-1 justify-content-center pt-4 pe-4">
                {% block body %}{% endblock body %}
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>